<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_universal_payments">

    <!-- Internet permission for Google Pay API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- Google Wallet API metadata -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
